@charset "UTF-8";
@import "bootstrap";


.topics {
    &__title {
        color: $primary;

        :hover {
            color: red;
        }
    }
    &__detail {
        text-align: justify;
    }
}